---
---

@import "{{ site.theme }}";

.home {
  width: 230px;
  position: fixed;
  top: 190px;
  left:50%;
  margin-left:-580px;
  text-align: right;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
  line-height:24px;

  &:hover { color: #999; }
}

nav {
  overflow: scroll;
  height: 50%;
}