<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <meta property="article:author" content="https://facebook.com/kind3r" />
    <meta property="article:publisher" content="https://www.facebook.com/kind3r" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ffcc00">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#4276b6">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#4276b6">
  </head>
  <body>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=256579135705218&autoLogAppEvents=1"></script>
      
      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/understanding-3d-printing.html">How 3D printing works</a>
        <a href="/3d-printer-overview.html">Overview of a 3D printer</a>
        <a href="/materials.html">Printing materials</a>
        <a href="/slicer.html">The slicing software</a>
        <a href="/setup.html">Setting up your 3D printer</a>
        <a href="/tips.html">Tips and tricks</a>
        <a href="/upgrades.html">Upgrades and spare parts</a>
        <a href="/troubleshooting.html">Troubleshooting issues</a>
        <a href="javascript:void(0);" class="icon" id="myTopnavMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if page.updated %}
        <div class="downloads">
          <p><small>Last update: {{ page.updated }}</small></p>
        </div>
        {% endif %}
      </div><!-- end banner -->

    <div class="wrapper">
      <a href="/" class="home">Home</a>
      <nav>
        <ul class="mainMenu">
          <li class="tag-h1"><a href="/understanding-3d-printing.html">How 3D printing works</a></li>
          <li class="tag-h1"><a href="/3d-printer-overview.html">Overview of a 3D printer</a></li>
          <li class="tag-h1"><a href="/materials.html">Printing materials</a></li>
          <li class="tag-h1"><a href="/slicer.html">The slicing software</a></li>
          <li class="tag-h1"><a href="/setup.html">Setting up your 3D printer</a></li>
          <li class="tag-h1"><a href="/tips.html">Tips and tricks</a></li>
          <li class="tag-h1"><a href="/upgrades.html">Upgrades and spare parts</a></li>
          <li class="tag-h1"><a href="/troubleshooting.html">Troubleshooting issues</a></li>
        </ul>
      </nav>
      <section>
        {{ content }}
        <hr>
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5" data-width="100%" data-order-by="social"></div>
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>